# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# cmake output
CMakeFiles
CMakeCache.txt
CTestTestfile.cmake
Makefile
cmake_install.cmake
cmake_uninstall.cmake
libmtn-config-version.cmake
libmtn-config.cmake
libmtn-targets.cmake
install_manifest.txt

# build files
build/
Testing/
src/demo/mutton_demo
test/unit/mutton_test

# editor
*.swp
*~
.#*
#*

# OSX
.DS_Store