# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# cmake output
CMakeFiles
CMakeCache.txt
CTestTestfile.cmake
Makefile
cmake_install.cmake
cmake_uninstall.cmake
libprz-config-version.cmake
libprz-config.cmake
libprz-targets.cmake
install_manifest.txt

# build files
build/
Testing/
src/demo/prz_demo
test/unit/prz_test

# editor
*.swp
*~
.#*
#*

# OSX
.DS_Store